<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/style_sp.css" media="screen and (max-width:768px)">
    <link rel="stylesheet" href="./static/css/style_pc.css" media="screen and (min-width:769px)">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    
    <title>nanisuru</title>
</head>

<div id="error">
    <h2>404error</h2>
    <h2>お探しのページは見つかりませんでしたが、</h2>
    <h2>今日やることは見つけましょう</h2>
</div>

<div class="bs-b"></div>
<p>今日やることを見つける<p>
    <button type="button" class="btn-circle-fishy-blue" onClick="location.href='/relux'"><font size="5">ゆるっと</font><br><font size="2" color=#EEFFFF>のんびり過ごしたい<br>今日は運動,外出を控えたい</button>
        <button type="button" class="btn-circle-fishy-yellow" onClick="location.href='/fine'"><font size="5">しゃきっと</font><br><font size="2" color=#FFFFDD>アクティブに！<br>活発な一日にしたい</button>
        <button type="button" class="btn-circle-fishy-pink" onClick="location.href='/try'"><font size="5">やってみよう</font><br><font size="2" color=#FFEFD5>新しいことにチャレンジ！<br>好きなことを増やしたい</button>
