<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_sp.css" media="screen and (max-width:768px)">
    <link rel="stylesheet" href="../static/css/style_pc.css" media="screen and (min-width:769px)">

    
    <title>nanisuru</title>
</head>

    <div class = "thanks">
        <h2>プランの提案ありがとうごさいます！</h2>
        <h2>あなたのおかげでガチャを回す<br>ひとが、本当にやりたかったこと<br>が見つかるかもしれませんね!</h2>
        <form action="/">
            <p><input type="submit" name="save" value="トップへ戻る" class="btn-gradient-radius"></p>
        </form>
    </div>

</html>